<!DOCTYPE html>
<html lang="pt-BR">


<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{{ url_for('static', filename='css/style.css') }}">
    <title>{% block title %}Página{% endblock %} — Flask Menu</title>
</head>

<body>

    <aside class="menu">
        <div class="menu-logo">
            <span></span>
            <p>Flask<br><strong>Aula 4</strong></p>
        </div>
        <nav>
            <ul>
                <li><a href="{{ url_for('home') }}" class="{{ 'active' if request.endpoint == 'home' }}">Home</a></li>
                <li><a href="{{ url_for('page1') }}" class="{{ 'active' if request.endpoint == 'page1' }}">Projetos futuros</a></li>
                <li><a href="{{ url_for('page2') }}" class="{{ 'active' if request.endpoint == 'page2' }}">Gostos</a></li>
            </ul>
        </nav>
    </aside>

    <main class="content">
        {% block content %}{% endblock %}
    </main>

</body>

</html>